.justify-default {
  justify-content: center;
  text-align: center;
}
.justify-left {
  justify-content: flex-start;
  text-align: start;
}
.justify-right {
  justify-content: flex-end;
  text-align: end;
}
.justify-center {
  justify-content: center;
  text-align: center;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
