align($value = 'center')
  if $value == 'start'
    align-content flex-start
    align-items flex-start
  else if $value == 'center'
    align-content center
    align-items center
  else if $value == 'end'
    align-content flex-end
    align-items flex-end
  else
    error('' + $value + ' is not a accepted value.')
