cell($cell = flex)
  if $cell == flex
    flex 1
  else if unit($cell) == '' and $cell > 0 and $cell <= 1
    $perc = 100% * $cell
    flex 0 0 $perc
  else if unit($cell) == ''
    error('' + $cell + ' is not a accepted value.')
  else
    flex 1 0 $cell
