// Variables
//------------------------------------------------//
$gutter-width = 1rem
$num-cells = 12
// Row
//------------------------------------------------//
row()
  display flex
  flex 0 1 auto
  flex-flow row wrap

column()
  display flex
  flex 0 1 auto
  flex-flow column wrap

// Gutter
//------------------------------------------------//
gutter-inside()
  padding 0 ($gutter-width / 2)

gutter-outside()
  margin-left 0 ($gutter-width / 2)
// Columns
//------------------------------------------------//

// mixin
cell($cell = flex, $gutter = 'inside')
  if $cell == flex
    flex 1
  else if unit($cell) == '' and $cell >= 1 and $cell <= $num-cells
    $perc = 100% / ($num-cells / $cell)
    flex 0 0 $perc
  else if unit($cell) == '' and $cell > $num-cells
    error('' + $cell + ' is not a accepted value.')
  else
    flex 1 0 $cell

  if $gutter == 'inside'
    gutter-inside()
  else
    gutter-outside()

// Offset
//------------------------------------------------//

offset($number-of-offset)
  if $number-of-offset >= 12 or $number-of-offset <= 0
    error('' + $number-of-offset + ' is not a accepted value.')
  margin-left: (100% / ($num-cells / $number-of-offset))

// Flex Container
//------------------------------------------------//

// mixin
justify($value)
  if $value == 'left'
    justify-content flex-start
    text-align start
  else if $value == 'right'
    justify-content flex-end
    text-align end
  else if $value == 'center'
    justify-content center
    text-align center
  else if $value == 'between'
    justify-content space-between
  else if $value == 'around'
    justify-content space-around
  else
    error('' + $value + ' is not a accepted value.')

// Flex Itens
//------------------------------------------------//

// mixin
align($value)
  if $value == 'begin'
    align-items flex-start
    align-content flex-start
  else if $value == 'middle'
    align-items center
    align-content center
  else if $value == 'end'
    align-items flex-end
    align-content flex-end
  else
    error('' + $value + ' is not a accepted value.')
