.justify-default
  justify()

.justify-left
  justify('left')

.justify-right
  justify('right')

.justify-center
  justify('center')

.justify-around
  justify('around')

.justify-between
  justify('between')
